@model List<TelaCadastro.ViewModels.CidadeViewModel>
@{
    ViewBag.Title = "Alunos de Cidades";
}

<div class="container">
    <div class="painel">
        <div id="divTabela">
            @Html.Partial("TabelaCidade", Model)
        </div>
    </div>
</div>

<div class="abrir-modal" id="divTabelaAluno" style="display:none;">

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tabelacidade").DataTable();
            $("#tabelaaluno").DataTable();
        })

        function BuscarAlunos(id) {
            $.post("/AlunoCidade/BuscarAlunos", { id: id })
                .done(function (data) {
                    $("#divTabelaAluno").html(data);
                    $("#divTabelaAluno").show();
                });
        }

        function FecharModal() {
            $("#divTabelaAluno").hide();
        }
    </script>
}
