@model List<TelaCadastro.ViewModels.AlunoViewModel>

@{
    ViewBag.Title = "Cadastro - Aluno";
}

<div class="container">
    <div class="painel">
        <button type="button" class="botao botao-primario" onclick="window.location.href='@Url.Action("Incluir","Aluno")'" style="margin-bottom: 25px">
            Criar
        </button>
        <br />
        <div id="divTabela">
            @Html.Partial("TabelaAluno", Model)
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#tabelaaluno").DataTable();
        });
    </script>
}
